@tailwind base;
@tailwind components;
@tailwind utilities;


.body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img[alt]:not([src]) {
  display: none; /* Hide images that have alt but no src */
}
input:focus,textarea:focus,select:focus {
  outline: none;
  @apply focus:outline-none focus:ring-0 shadow-sm shadow-sky-300 border-sky-500;
}

input[type="search"] {
  outline: none;
  @apply focus:outline-none focus:ring-0 p-2 m-0 shadow-none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444343;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  height: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btnBlue{
  @apply bg-[#006fbd] hover:bg-[#145482] duration-150 text-white rounded-md;
}

.advertise::before{
  top: -30px;
  right: -30px;
}
.advertise::after{
  bottom: -30px;
    left: -30px;
}
.advertise::before,
.advertise::after{
  content: "";
  position: absolute;
  /* top: -30px;
    right: -30px; */
  width: 126px;
  height: 115px;
  background: #0013560d;
  border-radius: 50%;
}
.advertiseAd::before,
.advertiseAd::after{
  background: #ff79181a !important;
}
